.about-section {
    background: linear-gradient(180deg, rgba(48, 107, 106, 0.9), rgb(48, 107, 106)), url('water.jpg') center / cover !important;
    background-attachment: fixed !important;
}

.card {
    box-shadow: 0 1px 5px rgba(39, 39, 39, 0.72);
    transition: all 0.5s ease;
    border-radius: 6px;

    &:hover {
        box-shadow: 0 1px 20px rgba(39, 39, 39, 0.90);
    }
}

